{% extends 'base.html' %}

{% block title %}Confirmação de Exclusão{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card shadow-sm">
        <div class="card-body text-center">
            <h2 class="text-danger">Tem certeza de que deseja excluir este(a) {{ type }}?</h2>
            <p class="lead">{{ object }}</p>
            
            <form method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="button-link button-link-danger">Confirmar Exclusão</button>
            </form>
            <br>
            <a href="javascript:history.back()" class="btn btn-custom">Cancelar</a>
        </div>
    </div>
</div>
{% endblock %}
