{% extends 'base.html' %}
{% block title %}Lista de Massas{% endblock %}
{% block content %}
<h2>Massas Cadastradas</h2>
<table class="table">
    <thead>
        <tr>
            <th><a href="?order_by={% if current_order == 'name' %}{{ new_order }}{% else %}name{% endif %}">Nome</a></th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for pasta in pastas %}
        <tr>
            <td>{{ pasta.name }}</td>
            <td>
                <a href="{% url 'update_pasta' pasta.pk %}" class="button-link">Editar</a>
                <a href="{% url 'delete_pasta' pasta.pk %}" class="button-link button-link-danger" onclick="return confirm('Tem certeza?')">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{% url 'create_pasta' %}" class="btn btn-custom">Cadastrar Nova Massa</a>
{% endblock %}
